html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
/* start */
.firstSection{
    background-image: url(./images/Burger-Image4.gif);
    background-size: cover;
    height: 57.3vw;
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    
}
.firstSection .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}
.firstSection .header > .logo{
    display: flex;
    align-self: flex-start;
    
}
.firstSection .header > .logo .logoImg{
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
}
.firstSection .header>.logo .logoTitle{
    font-size: 2.5vw;
    margin: auto;
}
.firstSection .header .phoneAndList .logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.firstSection .header .phoneAndList .logo .logoImg{
    width: 2vw;
    height: 2vw;
}
.firstSection .header .phoneAndList .menulist{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.firstSection .header .phoneAndList .phoneNumber{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}
.firstSection .header .phoneAndList .menulist li{
    font-size: 1.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-left: 4vw;
    letter-spacing: 0.3vw;
}
.firstSection .header .phoneAndList .menulist li a{
    color: #3d2514;
}
.firstSection .main{
    position: relative;
    top: 5%;
}
.firstSection .main .titleArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vw;
}
.firstSection .main .titleArticle .sub{
    margin-bottom: 2vw;
}
.firstSection .main .titleArticle .sub span{
    border: 0.2vw dashed #3d2514;
    font-size: 1.7vw;
    padding: 0.3vw 1vw;
    margin-bottom: 1vw;
}
.firstSection .main .titleArticle .title1{
    font-size: 8vw;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 0.3vw 0.3vw 0 #fee7ba;
}
.firstSection .main .titleArticle .title2{
    font-size: 4vw;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 0.3vw 0.3vw 0 #fee7ba;
}
.firstSection .main .price{
    background-image: url(./images/Ellipse.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 12vw;
    height: 12vw;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    left: 50vw;
}
.firstSection .main .price .priceText{
    width: 100%;
    color: white;
    font-weight: 400;
    font-size: 2vw;
}
.firstSection .main .price .priceText .strong{
    font-size: 4vw;
}
.firstSection .main .price .priceText .letter{
    letter-spacing: 0.6vw;
    width: 100%;
}

/* 2 */
.secondSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    padding: 5vw;
    
    font-family: 'Bebas Neue', cursive;
    color: white;
}
.secondSection a{
    text-decoration: none;
    color: white;
    border-radius: 5%;
}
.secondSection a .container{
    margin: 3vw;
}
.secondSection .item1{
    grid-row: 1/3;
    background-image: url(./images/Burger-Image2.gif);
    background-size: cover;
    background-position: center;

}
.secondSection .item2{
    background-image: url(./images/Image1.gif);
    background-size: cover;
    background-position: center;
    height: 15vw;

}
.secondSection .item3{
    background-image: url(./images/Image2.gif);
    background-size: cover;
    background-position: center;
    height: 15vw;

}
.secondSection a .container .sub{
    font-size: 2vw;
}
.secondSection a .container .title{
    font-size: 3vw;
}
/* 
/* 3 */
.thirdSection{
    display: grid;
    grid-template-columns: repeat(1fr,3);
    justify-items: center;
    grid-gap: 5vw;
    width: 100%;
    
    
}
.thirdSection header{
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thirdSection header .sub{
    background-color: #ffc045;
    font-size: 2vw;
    font-family: 'Bebas Neue', cursive;
    padding: 1vw;
    margin-bottom: 2vw;
}
.thirdSection header p{
    text-align: center;
    width: 80vw;
    color: #3d2514;
    font-size: 1.2vw;
    line-height: 2.3vw;
    font-family: 'Montserrat', sans-serif;
}
.thirdSection header .title{
    font-family: 'Alfa Slab One', cursive;
    font-size: 3.5vw;
    color: #3d2514;
    margin-bottom: 2vw;
}
.thirdSection .item{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.thirdSection .item img{
    width: 100% ;
    height: 20vw;
    object-fit: cover;
    object-position: center;
}
.thirdSection .item p{
    text-align: center;
    color: #3d2514;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    line-height: 2.3vw;
    margin-top: 1vw
}
.thirdSection .item .title{
    font-size: 2.5vw;
    font-family: 'Bebas Neue', cursive;
}
.thirdSection .item a{
    font-family: 'Alfa Slab One', cursive;
    color: white;
    background: #bf2222;
    padding: 1vw 2vw;
    font-size: 1vw;
    margin-top: 1vw;
}

/* 4 */
.fourthSection{
    display: flex;
    margin: 3vw;
    box-shadow: 10px 10px 10px gray;
    color: #3d2514;
}
.fourthSection .content{
    box-shadow: -5px 0px 5px lightgray;
    width: 50%;
    padding: 2vw;
}
.fourthSection .content .sub{
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    letter-spacing: 0.3vw;
    margin-bottom: 0.5vw;
}
.fourthSection .content .title{
    font-size: 3vw;
    font-family: 'Alfa Slab One', cursive;
    margin-bottom: 2vw;
}
.fourthSection .content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    line-height: 2.3vw;
    margin-bottom: 8vw;

}
.fourthSection .content .circles{
    display: flex;
}

.fourthSection .content .circles li{
    width: 1.5vw;
    height: 1.5vw;
    background: #dcdcdc;
    border-radius: 50%;
    margin-right: 1vw;
}
.fourthSection .content .circles li:nth-child(1){
    background: #ffc045;
}
.fourthSection .burgerImg{
    width: 50%;
    margin: 2vw;
}

/* 5 */
.fifthSection{
    background-image: url(./images/Bottle.gif);
    background-size: cover;
    width: 100vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#3d2514;
}
.fifthSection header .sub{
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    margin-bottom: 1vw;

}
.fifthSection header .title{
    font-size: 4vw;
    font-family: 'Alfa Slab One', cursive;
    margin-bottom: 4vw;
}
.fifthSection form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}
.fifthSection form input{
    width: 25vw;
    height: 3vw;
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
}
.fifthSection form button{
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5vw;
    background-color: #bf2222;
    color: white;
    border: none;
    border-radius: 5%;
}

/* 6 */
.sixthSection{
    margin: 2vw;
    background-image: url(./images/Layer1.gif);
    background-size: cover;
    background-position: center;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    font-family: 'Bebas Neue', cursive;
    grid-gap: 12vw;
}
.sixthSection .content1{
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
    padding-left: 2vw;
    width: 80%;
    
}
.sixthSection .content1 .logo{
    display: flex;
    margin-bottom: 4vw;
    align-items: center;
}
.sixthSection .content1 .logo img{
    width: 6vw;
    height: 6vw;
    margin-right: 1vw;
}
.sixthSection .content1 .logo .title{
    font-size: 4vw;
}
.sixthSection .content1 p{
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
}
.sixthSection .content2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10vw;
}
.sixthSection .content2 li{
    display: flex;
    align-items: center;
    margin-top: 2vw;
    font-size: 1vw;
}
.sixthSection .content2 li img{
    width: 2vw;
    height: 2.5vw;
    margin-right: 2vw;
}
.sixthSection footer{
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    margin: 2vw;
}
.sixthSection footer .from{
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
}
.sixthSection footer .messanger{
    display: flex;
}
.sixthSection footer .messanger li{
    margin-left: 1vw;
}
.sixthSection footer .messanger li img{
    width: 2vw;
    height: 2vw;
}